[Unit]
Description=Socket activation for GRPCStop daemon
PartOf=grpcstop.service

[Socket]
ListenStream=/tmp/grpcstop.socket

[Install]
WantedBy=sockets.target
